body{
    background-color: #624CAB;
    color: #C1CEFE;
    margin:;20em
}

.profile-pic{
    border-radius: 10%;
    box-shadow: 2px 2px 2px 1px black;
    width: 10em;
    height: 10em;
}

.creator-name{
    font-weight: bold;
}

.vid-container, .streamer-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.vid-card, .streamer-card {
    flex: 1 0 calc(33.33% - 10px); 
    margin-bottom: 20px;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.vid-card{
    background-color: #7189FF;
    color:#00147A;
}
.title {
    flex-grow: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
