body{
    background-color: #624CAB;
    color: #C1CEFE;
    margin:;20em
}

.profile-pic{
    border-radius: 10%;
    box-shadow: 2px 2px 5px 1px red;
    width: 10em;
    height: 10em;
}

.creator-name{
    font-weight: bold;
}

.vid-card{
    flex: 0 0 300px;
    background-color: #7189FF;
    color:#00147A;
    padding: 1%;
    margin: 1%;
    text-align: center;
    border-radius: 7px;
    align-items: center;
}
.vid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.vid-card {
    flex: 1 0 calc(33.33% - 10px); 
    margin-bottom: 20px;
    background-color: #7189FF;
    color:#00147A;
    padding: 1%;
    margin: 1%;
    flex-direction: column;
}
.title {
    flex-grow: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
