name: Check Style

on:
  push:
    branches:
      - main

jobs:
  check-style:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11.3

      - name: Install tools
        run: python -m pip install --upgrade pip pycodestyle

      - name: Check Style
        run: |
          pycodestyle twitch-api-run/app/routes.py
          pycodestyle twitch-api-run/app/twitch_api.py
